<div class="menu">
    <div class="left">
        <div class="content" (click)="news()">News</div>
        <div class="content" (click)="galery()">Galerie</div>
        <div class="content" (click)="sale()">Verkauf</div>
        <div class="content" (click)="shops()">Shops</div>
        <div class="contentend"></div>
    </div>
    <div class="right">
        <div class="content" (click)="calender()">Kalender</div>
        <div class="content" (click)="locations()">Arenen</div>
        <div class="content" (click)="events()">Events</div>
        <div class="content" (click)="home()">Start</div>
        <div class="contentend"></div>
    </div>
</div>