<div class="menu">
    <div class="left">
        <div class="content">Start</div>
        <div class="content">Kalender</div>
        <div class="content">Galerie</div>
        <div class="content">Verkauf</div>
        <div class="contentend"></div>
    </div>
    <div class="right">
        <div class="content">Über Uns</div>
        <div class="content">Events</div>
        <div class="content">Shops</div>
        <div class="content">News</div>
        <div class="contentend"></div>
    </div>
</div>