.regist_site
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    padding: 15px;
    background-color: #1c1c1c83;
    border-radius: 10px;
    box-shadow: 0 0 6px #9c06069f;
    position: relative;
    width: 95vw;
    max-width: 1440px;

    .title{
        color: whitesmoke;
        text-decoration: underline;
        background-color: #1c1c1c83;
        box-shadow: 0 -4px 8px #9c06069f;
        padding-left: 8px;
        padding-right: 8px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: absolute;
        top: -16px;
        left: 15px;
    }

    .fields
    {
        width: 600px;
        display: flex;
        justify-content: space-between;

        p{
            color: whitesmoke;
        }

        .inputfield
        {
            width: 300px;
            height: 30px;
            background-color: transparent;
            border: 1px solid #9c06069f;
            border-radius: 5px;
            transition: all 500ms ease-in-out;
            outline: none;
            color: white;
            font-size: 16px;

            &::placeholder
            {
                color: white;
                text-align: center;
                font-size: 16px;
            }

            &:hover
            {
                border: 1px solid #e20505c7;
            }

            &:focus
            {
                border: 1px solid #e20505c7;
            }
        }

        .button
        {
            height: 35px;
            background-color: #9c06069f;
            border: 1px solid #9c06069f;
            border-radius: 5px;
            color: white;
            font-size: 16px;
            font-weight: 800;
            cursor: pointer;
            transition: all 500ms ease-in-out;

            &:hover
            {
                border: 1px solid #f30202c7;
            }
        }

        a{
            color: white;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }
        }

    }

    .breaks{
        margin-top: 25px;
    }
}