@import './../../fonts.scss';

.site{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    >h2{
        font-size: 50px;
        color: #ffffff;
        text-align: center;
    }

    >img{
        max-width: 370px;
        width: 100%;
        filter: drop-shadow(0 0 1px white);
    }
}