.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 10px);
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    //background-image: linear-gradient(180deg, #1c1c1c 40%, #460808);
    //box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.349);
    position: relative;

    .left-container{
        width: calc(50vw - 50px);
        background-color: #1c1c1c83;
        height: 180px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 10px;
        border-radius: 15px;
        color: white;
        box-shadow: -2px -3px 6px #9c06069f;
        z-index: 0;

        .logo-header{
            width: 160px;
            height: 160px;
            filter: drop-shadow(1px 1px 1px rgb(156 6 6 / 70%));
        }
    }

    .middle-container {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 11px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .right-container{
        width: calc(50vw - 50px);
        background-color: #1c1c1c83;
        height: 180px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 10px;
        border-radius: 15px;
        color: white;
        box-shadow: 2px -3px 6px #9c06069f;
        z-index: 0;
    }
}
