<div class="header">
    <div class="left-container">Logo/Name</div>
    <div class="middle-container">
        <div class="rotate-box" (click)="openGameDay()">
            <p  class="gameday-title">Next GameDay</p>
            <p class="location">Gotcha Zone</p>
            <div class="gameday-content">
                <p>{{days}}{{hours}}{{minutes}}{{seconds}}</p>
                <p>21:00 - 01:00</p>
                <p>18.01.2025</p>
            </div>
        </div>
    </div>
    <div class="right-container">Login Pannel/Regist Panel</div>
</div>
