.areas
{
    width: 95vw;
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    padding: 15px;
    background-color: #1c1c1c83;
    border-radius: 10px;
    box-shadow: 0 0 6px #9c06069f;
    position: relative;

    .title{
        color: whitesmoke;
        text-decoration: underline;
        background-color: #1c1c1c83;
        box-shadow: 0 -4px 8px #9c06069f;
        padding-left: 8px;
        padding-right: 8px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: absolute;
        top: -16px;
        left: 15px;
    }

    .area
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 25px;
        width: 100%;
        max-width: 450px;
        padding: 15px;
        background-color: #1c1c1c83;
        border-radius: 10px;
        box-shadow: 0 0 6px #9c06069f;
        transition: all 125ms ease-in-out;
    
    
        .screenshot
        {
    
            .area_img
            {
                height: 150px;
            }
        }
    
        .data
        {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;
            color: whitesmoke;
        }

        &:hover{
            transform: scale(1.05);
        }
    }
}

.link{
    color: whitesmoke;
    text-decoration: none;
    transition: all 125ms ease-in-out;
    cursor: pointer;

    &:hover
    {
        text-decoration: underline;
        color: #e00000;
    }
}