<div class="pwforgot_site">
  <p class="title">Passwort Zurücksetzen</p>
  <div class="fields breaks">
    <p title="min 8 Zeichen, 1 Großbuchstabe und 1 Sonderzeichen">Passwort: <img src="./../../../assets/icons/true.png" class="img_size_true"#passTrue><img src="./../../../assets/icons/false.png" class="img_size_false" #passFalse> </p>
    <input type="password" (input)="checkFirstPassword()" [(ngModel)]="newPassword.passwordOne" name="passwordfirst" class="inputfield" required>
  </div>
  <div class="fields">
    <p>Passwort wiederholen: <img src="./../../../assets/icons/true.png" class="img_size_true"#passSecondTrue><img src="./../../../assets/icons/false.png" class="img_size_false" #passSecondFalse> </p>
    <input type="password" (input)="checkSecondPassword()" [(ngModel)]="newPassword.passwordTwo" name="passwordsecond" class="inputfield" required>
  </div>
  <div class="fields">
    <p>&nbsp;</p>
    <p class="False" #sendStatus>{{ sendInfo }}</p>
  </div>
  <div class="fields breaks">
    <button class="button">Zurück</button>
    <button class="button" (click)="saveNewPw()">Passwort Speichern</button>
  </div>
</div>
